<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./assets/css/style.css">
  </head>
  <body>
  	<header>
  		<a href="" id="mobileMenu" class="mobileMenu"><img src="./assets/img/menuwrap.png" alt=""></a>
  		<img src="./assets/img/logo.png" alt="" class="logo">
  	</header>
  	<div class="entete">
  		<div class="search">
  			<input type="text" name="create" class="create" placeholder="Ex : Bougies, Couture...">
  			<input type="text" name="location" class="location" placeholder="Où ?">
  			<input type="submit" class="submit" value=" ">
  		</div>
  	</div>
    <div class="gradient">
      <div class="creative">
        <h2>Vous êtes un créatif : </h2>
        <ul>
          <li class="creativePoint">
            <img src="./assets/img/marker.png" alt="">
            <p>1 . Trouvez une annonce près de chez vous</p>
          </li>
          <li class="creativePoint">
            <img src="./assets/img/phone.png" alt="">
            <p>2 . Contactez un créatif</p>
          </li>
          <li class="creativePoint">
            <img src="./assets/img/scisors.png" alt="">
            <p>3 . Créer votre objet</p>
          </li>
        </ul>
      </div>
      <div class="passion">
        <h2>Vous êtes un passionné : </h2>
        <ul>
          <li class="passionatePoint">
            <img src="./assets/img/arrow.png" alt="">
            <p>1 . Indiquez votre emplacement</p>
          </li>
          <li class="passionatePoint">
            <img src="./assets/img/conversation.png" alt="">
            <p>2 . Publiez votre annonce</p>
          </li>
          <li class="passionatePoint">
            <img src="./assets/img/heart.png" alt="">
            <p>3 . Transmettez votre passion</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="new">
      <hr class="hrnew">
      <h2>Nouveautés</h2>
      <hr class="hrnew">
    </div>
    <div class="categories">
      <div class="garden filter">
        <div class="infos">
          <h2>Jardin</h2>
          <span>(6)</span>
        </div>
      </div>
      <div class="decoration filter">
        <div class="infos">
          <h2>Déco</h2>
          <span>(3)</span>  
        </div>       
      </div>
      <div class="couture filter">
        <div class="infos">
          <h2>Couture</h2>
          <span>(4)</span>
        </div>
      </div>
    </div>
    <div class="social">
      <h2>Invitez vos amis à nous rejoindre !</h2>
      <form action="">
        <input type="mail" class="input" placeholder="Entrez le mail d’un de vos amis ...">
        <input type="submit" class="submit" value="Envoyer">
      </form>
      <div class="links">
        <a href="" class="twitter">Invitez via Twitter</a><span class="twittericon"></span><br>
      </div>
      <div class="links">
        <a href="" class="facebook">Invitez via Facebook</a><span class="facebookicon"></span>
      </div>
      
    </div>
    <footer>
      <ul>
        <li><a href="">A propos</a></li>
        <li><a href="">Contactez nous</a></li>
        <li><a href="">FAQ</a></li><br>
        <li><a href="">Plan du site</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Mentions légales</a></li>
      </ul>
      <a href="" class="download">Téléchargez l’application</a>
      <ul>
        <li><a href="" class="socialLink"><img src="/assets/img/facebook.png" alt="" class="facebookSocial"></a></li>
        <li><a href="" class="socialLink"><img src="/assets/img/instagram.png" alt="" class="instagramsocial"></a></li>
        <li><a href="" class="socialLink"><img src="/assets/img/pinterest.png" alt="" class="pinterestsocial"></a></li>
        <li><a href="" class="socialLink"><img src="/assets/img/twitter.png" alt="" class="twittersocial"></a></li>
      </ul>
      <p class="copyright">© Todogether , Inc.</p>
    </footer>
  </body>
</html>
