<html>
	<head>
		
	</head>
	<body>
		<form id="loginForm" action="/user/register" method="post">
            <input type="text" name="username" placeholder="Username"><br>
            <input type="text" name="firstname" placeholder="firstname"><br>
            <input type="text" name="lastname" placeholder="lastname"><br>
            <input type="password" name="password" placeholder="password"><br>
            <input type="text" name="adress" placeholder="adress"><br>
            <input type="email" name="mail" placeholder="mail"><br>
            <input type="submit" value="S'enregsitrer">
        </form>
	</body>
</html>