<html>
	<head>
		<title></title>
		<meta charset="utf-8">
	</head>
	<body>
		<form action="/annonce/new" method="post">
			<input type="text" name="title" placeholder="Title"><br>
			<input type="text" name="description" placeholder="Description"><br>
			<input type="text" name="place" placeholder="Adresse">
			<input type="submit" value="Créer">
		</form>
	</body>
</html>