@font-face{
	src : url('../fonts/Gravity-Bold.otf');
	font-family: 'Gravity';
	font-weight: 900;
}

@font-face{
    src : url('../fonts/Gravity-Light.otf');
	font-family: 'Gravity';
	font-weight: 300;
}

@font-face{
    src : url('../fonts/Gravity-Regular.otf');
	font-family: 'Gravity';
	font-weight: 400;
}

@font-face{
    src : url('../fonts/Gravity-Book.otf');
	font-family: 'Gravity';
	font-weight: 700;
}
